* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#header {
  display: flex;
  margin: 12px auto;
  flex-direction: column;
  align-items: flex-end;
  width: 85%;
}

#header .title {
  display: flex;
  width: 100%;
  justify-content: flex-end;
}

#header .title img {
  max-width: 3em;
}

#header .title h2 {
  padding-left: 0.5em;
}

#header .score {
  margin: 0;
  color: #6c90ac;
}

#header .tried {
  margin-top: 0;
}

#cards {
  display: flex;
  flex-wrap: wrap;
  width: 85%;
  margin: 0 auto;
}

.card {
  box-sizing: border-box;
  flex: 17% 1 1;
  height: 25vw;
  border: 2px solid #e0e0e0;
  margin: 15px;

  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.card img {
  max-width: 40%;
  align-self: center;
}

.card p {
  margin: 10px;
  font-size: 40px;
  font-weight: 450;
}

.card p:last-child {
  transform: rotate(180deg);
}

.red {
  filter: invert(31%) sepia(52%) saturate(3356%) hue-rotate(353deg)
    brightness(100%) contrast(89%);
}

.redd > * {
  filter: invert(27%) sepia(51%) saturate(2878%) hue-rotate(346deg)
    brightness(104%) contrast(97%);
}

.back {
  background: url("https://assets-lighthouse.s3.amazonaws.com/uploads/image/file/9222/ExportedContentImage_00.png");
  background-size: cover;
}

.paired {
  background-color: #dae0e3;
}

.wrong {
  animation-name: wrongAnimation;
  animation-duration: 0.2s;
  animation-iteration-count: 5;
}

@keyframes wrongAnimation {
  to {
    border: 2px solid #ffd54f;
  }
}

/** Game finished **/
.completed {
  position: absolute;
  z-index: 999;
  top: 33vh;
  /*   background-color: RGBA(232, 246, 254, 0.8); */
  background: linear-gradient(to top, #f1c40f, #ffd194);
  width: 100vw;
  padding: 50px 0;
}

.completed > p {
  font-size: 1.5em;
  color: black;
  text-align: center;
  margin: 0;
}

.completed > p:first-child {
  font-size: 3em;
  font-weight: 700;
  color: #d35400;
}
